*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    padding-top: 60px;
    min-height: 100vh;
    background-image: linear-gradient(#ce000010 0%, white 100%);
}
.main-menu{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 800;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: white;
    justify-content: flex-end;
    box-shadow: 0px 0px 8px 5px rgba(100,100,100,0.1);
}
.main-menu .searchContainer{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.main-menu .searchContainer input{
    padding-left: 20px;
    width: 400px;
    color: rgb(94, 94, 94);
    font-size: 0.9em;
    align-self: center;
    height: 70%;
    border-radius: 8px;
    background-color: rgba(234, 234, 234);
    border: none;
    transition: all 0.3s;
    box-shadow: 0px 0px 8px 5px rgba(127, 127, 127, 0.051);
}
.main-menu .searchContainer input:focus{
    background-color: rgba(224, 224, 224, 0.504);
}
.main-menu .searchContainer .searchBtn{
    display: inline-flex;
    height: 70%;
    width: 50px;
    font-size: 1.08em;
    color: #b80000;
    cursor: pointer;
    font-family: calibri;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
}
.main-menu .menu{
    height: 100%;
    width: 70px;
    align-self: flex-start;
    background-color: #b80000;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.main-menu .main-menu__item{
    font-size: 1.2em;
    display: flex;
    width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #b80000;
    text-decoration: none;
}
.main-menu .main-menu__item:hover{
    background-color: #b800000d;
}
.main-menu .menu .smenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    min-height: 60px;
    width: 70px;
    background-color: transparent;
    font-size: 1.4em;
    cursor: pointer;
}
.main-menu .menu .s-menu{
    transition: all 0.3s;
    display: none;
    align-items: center;
    flex-direction: column;
    width: 170px;
    box-shadow: 0px 0px 8px 3px rgba(100,100,100,0.1);
    background-color: white;
    margin-right: 10px;
}
.main-menu .menu .s-menu a{
    display: grid;
    text-decoration: none;
    font-family: calibri;
    height: 60px;
    padding: 10px;
    align-items: center;
    grid-template-columns: 40px 1fr;
    color: #b80000;
    width: 100%;
    background-color: white;
}
.main-menu .menu .s-menu a:hover{
    background-color: #b8000015;
}
.main-menu .menu:hover .s-menu{
    display: flex;
}
.onglets{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #850000;
    position: sticky;
    top: 60px;
    z-index: 500;
}
.onglets a{
    text-decoration: none;
    font-family: calibri;
    padding: 5px 10px;
    position: relative;
    color: white;
}
.onglets a::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 70%;
    height: 3px;
    border-radius: 10px;
    background-color: white;
    opacity: 0;
    transition: all 0.3s;
}
.onglets a:not(.activeTab):hover::before{
    opacity: 1;
    background-color: #ffffffd5;
}
.onglets a.activeTab{
    font-weight: bold;
}
.onglets a.activeTab::before{
    opacity: 1;
}
.title{
    font-size: 2em;
    font-weight: 100;
    padding: 25px 20px;
    margin-left: 25px;
    color: #900000;
    font-family: corbel;
    position: relative;
    font-weight: bold;
}
.title::before{
    content: "";
    height: 2px;
    width: 280px;
    background-color: #850000;
    position: absolute;
    bottom: 0px;
}
.popuContainer{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    width: 90%;
    margin: auto;
    padding-left: 30px;
    flex-wrap: wrap;
}
.popuContainer .popubook{
    height: 450px;
    margin: 0px 10px;
    padding-bottom: 20px;
    width: 300px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s;
    background: white;
    box-shadow: 0px 0px 8px 5px rgba(100, 100, 100, 0.1);
}

.popuContainer .popubook img{
    object-fit: cover;
    flex: 1;
    margin: 20px;
    height: 95px;
    border-radius: 5px;
    text-decoration: none;
}
.popuContainer .popubook span{
    color: #850000;
    font-weight: bold;
    font-family: calibri;
    margin: 0px 20px;
    padding: 5px 0px;
    text-transform: capitalize;
}
.popuContainer .popubook .popauteur{
    font-weight: 100;
    padding: 0px;
}
.popuContainer .popubook span.popviews{
    font-size: 0.8em;
}
.popuContainer .popubook button{
    height: 35px;
    width: 80%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #900000;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.3s;
    margin: 15px auto;
    margin-bottom: 0px;
}
.booksContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 1280px;
    margin: auto;
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.book{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 480px;
    min-height: 450px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* margin: 15px auto; */
    transition: transform 0.3s;
    animation: appear 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    box-shadow: 0px 0px 16px 8px rgba(10,10,10,0.1);
    margin: 10px;
}
.book:hover{
    transform: scale(1.02);
}
.book .couv{
    grid-area: couv;
    height: 250px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    z-index: 5;
    /* box-shadow: 0px 0px 16px 8px rgba(20,20,20,0.1); */
    position: relative;
}
.book .couv::before{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(white 0%, transparent 100%);
}
.book .book_body{
    grid-area: body;
}
.book .book_body h3{
    font-size: 1.5em;
    font-weight: 300;
    font-family: calibri;
    color: #850000;
    /* margin: 30px 30px; */
    margin-left: 15px;
    text-transform: capitalize;
    margin-bottom: 5px;
    position: relative;
    z-index: 5;
}
.book .book_body h4{
    z-index: 5;
    position: relative;
    font-size: 1em;
    font-weight: 300;
    font-family: calibri;
    color: #850000;
    margin: 3px 15px;
}
.book .book_body .explNum{
    margin: 5px 15px;
    font-family: calibri;
    font-weight: 100;
    font-size: 1.01em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #5c5c5c;
    z-index: 5;
}

svg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.buttonCommand{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-area: commandButton;
    position: relative;
    flex-direction: column;
    z-index: 5;
}
.buttonCommand :is(button){
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 45px;
    padding: 20px;
    border: none;
    margin: 10px 8px;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: white;
    color: #900000;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
    width: 95%;
}
.buttonCommand button{
    background-color: #900000;
    color: white;
    position: relative;
    overflow: hidden;
}
.buttonCommand button:hover{
    background-color: #850000;
    transform: scale(1.04);
}
.buttonCommand a{
    color: #850000;
    margin-left: 15px;
    font-size: 1em;
    padding: 5px 0;
}
.buttonCommand button::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.buttonCommand button.reservbtnshows:hover{
    background-color: rgba(100,100,100);
    transform: scale(1);
}
@media screen and (max-width: 1320px){
    .booksContainer{
        width: 100%;
    }
}
@media screen and (max-width: 746px){
    .popuContainer{
        flex-direction: column;
        background-color: transparent;
        padding: 0px;
    }
    .popuContainer .popubook{
        margin: 0px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 632px){
    .book .book_body h3{
        font-size: 2.2em;
    }
    .book .book_body{
        background-color: transparent;
        padding: 0px;
    }
    .book{
        /* width: 100%; */
        height: 520px;
        min-height: 520px;       
    }
    .buttonCommand button{
        font-size: 0.9em;
    }
}
/* @media screen and (max-width: 610px){

    /* .popuContainer .popubook{
        margin: 5px 5px;
        width: 250px;
        height: 250px;
        min-width: 250px;
    } 
}*/

@media screen and (max-width: 433px){
    /* .book{
        height: 40px;
        min-height: 480px; 
    } */
    .popuContainer{
        width: 95%;
    }
    .popuContainer .popubook{
        width: 98%;
    }
    .book{
        /* width: 100%; */
        width: 95%;
    }
}
.nothing{
    display: flex;
    flex-direction: column;
}
.nothing img{
    height: 300px;
}
.nothing span{
    font-size: 1.1em;
    font-family: calibri;
    padding: 10px 0px;
    color: #850000;
}
.nothing a{
    background-color: #850000;
    color: white;
    text-decoration: none;
    font-family: calibri;
    padding: 10px;
    width: 180px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.reservationFen{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.964);
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    /* overflow-x: hidden; */
    padding-bottom: 120px;
}
.closeReservationPopup{
    display: inline-flex;
    height: 50px;
    min-height: 50px;
    width: 100%;
    box-shadow: 0px 0px 16px 2px rgba(20,20,20,0.1);
    font-size: 1.2em;
    color: #850000;
    font-weight: bold;
    position: sticky;
    top: 0px;
    font-family: calibri;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    cursor: pointer;
    background-color: white;
}
.modeemprunt{
    display: flex;
    background-color: #850000;
    padding: 10px 0px;
    padding-left: 20px;
    position: sticky;
    top: 50px;
}
.modeemprunt input{
    cursor: pointer;
}
.modeemprunt label{
    margin: 5px 10px;
    font-size: 1.1em;
    font-family: calibri;
    color: white;
}
.userInfosContainer{
    display: flex;
    flex-direction: column;
}
.userInfosContainer label{
    align-self: center;
    display: inline-flex;
    width: 400px;
    min-height: 40px;
    height: 40px;
    align-items: center;
    padding-left: 5px;
    font-family: calibri;
    color: #850000;
}
.userInfosContainer input{
    padding-left: 20px;
    width: 400px;
    color: rgb(94, 94, 94);
    font-size: 1em;
    align-self: center;
    height: 45px;
    border-radius: 5px;
    background-color: rgba(234, 234, 234);
    border: none;
    transition: all 0.3s;
    box-shadow: 0px 0px 8px 5px rgba(127, 127, 127, 0.051);
}
.userInfosContainer input:focus{
    background-color: rgba(224, 224, 224, 0.504);
}
.booksInfo{
    background-color: white;
    width: 350px;
    align-self: center;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
}
.booksInfo #book-img{
    height: 350px;
    width: 100%;
    object-fit: contain;
}
.booksInfo .bookTitle{
    padding: 10px 5px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: calibri;
    color: #850000;
    text-align: center;
}
.booksInfo .bookAuteur{
    font-family: serif;
}
.infop{
    padding: 10px;
    background-color: #90000018;
    color: #850000;
    font-family: calibri;
    font-size: 1.1em;
    margin: 2px 0px;
}
.buttonPanel{
    /* position: fixed; */
    /* bottom: 0px;
    left: 0px; */
    margin-top: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.buttonPanel button{
    height: 45px;
    width: 200px;
    margin: 0px 8px;
    border: none;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.1);
    background-color: #850000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
}
.confirmBorrow{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1090;
    background-color: rgba(10, 10, 10, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.confirmBorrow div.c1{
    height: 140px;
    padding: 10px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 8px rgba(10, 10, 10, 0.1);
    display: flex;
    flex-direction: column;
}
.confirmBorrow p{
    font-family: calibri;
    font-size: 1.1em;
    flex: 1;
    margin: 5px;
}
.confirmBorrow div.sc1{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: transparent;
    height: 50px;
    justify-content: flex-end;
}
.confirmBorrow div.sc1 :is(input, a){
    margin: 8px;
    border: none;
    height: 40px;
    padding: 10px 15px;
    display: inline-flex;
    justify-content: center;
    border-radius: 25px;
    color: white;
    background-color: #850000;
    font-family: calibri;
    font-size: 1em;
    cursor: pointer;
    text-transform: capitalize;
}
.confirmBorrow div.sc1 :is(a){
    background-color: transparent;
    color: #850000;
    margin: 2px;
}
.loaderContainer{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fffffff5;
    height: 100%;
    width: 100%;
    z-index: 1800;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loaderContainer b{
    font-family: Arial, Helvetica, sans-serif;
    color: #850000;
    font-size: 1.03em;
    margin: 10px;
}
.walletItem{
    background-color: #85000018;
    padding: 10px 15px;
    margin: 0px 10px;
    border-radius: 35px;
    text-decoration: none;
    font-family: calibri;
    color: #850000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.walletItem span{
    font-size: 0.8em;
    margin: 0px 5px;
    margin-left: 8px;
}